<div class="full-width full-height">
    <div class="option-trade-col-1 full-height display-block left">
        <!--Option Chain-->
        <div class="col-xs-12 option-trade-row-1">
            <div class="col-xs-12 widget-outlet">
                {{outlet "w1"}}
            </div>
        </div>
        <div class="col-xs-12 widget-outlet option-trade-row-2">
            {{outlet "w5"}}
        </div>

        <div class="col-xs-12 option-trade-row-3">
            <!--Detail Quote-->
            <div class="option-trade-row-2-col-1 full-height display-block left">
                <div class="col-xs-12 widget-outlet">
                    {{outlet "w2"}}
                </div>
            </div>
            <!--Regular Chart-->
            <div class="option-trade-row-2-col-2 full-height display-block left">
                <div class="col-xs-12 widget-outlet">
                    {{outlet "w3"}}
                </div>
            </div>
        </div>
    </div>
    <!--Portrait Order Ticket-->
    <div class="option-trade-col-2 full-height display-block left">
        <div class="col-xs-12 widget-outlet">
            {{outlet "w4"}}
        </div>
    </div>
</div>
