<div class="col-xs-12 full-height">
    <div class="col-xs-12 full-width quote-advanced-height">
        <div class="col-xs-12 widget-outlet">
                {{outlet "w8"}}
        </div>
    </div>

    <div class="full-width col-xs-12" style="height: calc(100% - 117px)">
        <div class="col-xs-9 full-height">
            <div class="col-xs-12" style="height: 202px">
                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                    {{outlet "w2"}}
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                    {{outlet "w5"}}
                </div>
            </div>
            <div class="col-xs-12" style="height: calc(100% - 202px)">
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                    {{outlet "w4"}}
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                    {{outlet "w6"}}
                </div>
            </div>
        </div>
        <div class="col-xs-3 full-height">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w7"}}
            </div>
        </div>
    </div>
</div>
