<div class="panel-table"  cell-id="{{view.columnId}}">
    <div class="font-l bold {{view.styleFirstValue}} ltr">
        {{view.formattedFirstValue}}
    </div>
    <div class="font-m pad-xs-t {{view.styleSecondValue}}">
        {{view.formattedSecondValue}}
    </div>
</div>
