<div class="layout-container full-width full-height">
    <div class="layout-col-24 ltr panel-table ellipsis {{view.styles}} {{view.styleBackground}}" title="{{view.firstValue}}" cell-id="{{view.columnId}}">
        <span class="font-l {{view.firstValueStyle}}">
            {{view.firstValue}}
            <br>
        </span>
    </div>
</div>
