<div {{bind-attr class=":panel-table view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div>
        <div {{bind-attr class=":ltr :bold"}}>
            <span {{bind-attr class="view.changeColor"}}>{{view.formattedFirstValue}}</span>
        </div>
    </div>
</div>