<div class="widget-container-new full-width fore-color">
    <div class="page-container">
        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Basics</div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-overview'}}><a class="font-x-l highlight-fore-color">Overview</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-customize'}}><a class="font-x-l highlight-fore-color">Settings/ Customization</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-market'}}><a class="font-x-l highlight-fore-color">Viewing the Markets</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-top-stock'}}><a class="font-x-l highlight-fore-color">Top Stocks</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-indices'}}><a class="font-x-l highlight-fore-color">Market Indices</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-watch-list'}}><a class="font-x-l highlight-fore-color">Watchlist</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-quote'}}><a class="font-x-l highlight-fore-color">Quote</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-depth'}}><a class="font-x-l highlight-fore-color">Market Depth</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-time-and-sales'}}><a class="font-x-l highlight-fore-color">Time and Sales</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-alert'}}><a class="font-x-l highlight-fore-color">Alerts</a></div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Trading</div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-trade'}}><a class="font-x-l highlight-fore-color">About Trading</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-portfolio'}}><a class="font-x-l highlight-fore-color">Portfolio</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-order-list'}}><a class="font-x-l highlight-fore-color">Order List</a></div>
            <div class="pad-s-tb" {{action 'invokeWidget' 'guide-account-summary'}}><a class="font-x-l highlight-fore-color">Account Summary</a></div>
        </div>

    </div>
</div>

