<div class="tickerDiv">
    <div class="ticker {{if isHorizontalTickerAnimation 'tickerTwo-horizontal ticker-animation-horizontal' 'ticker-animation tickerTwo'}} transform {{if isTickerRunning 'anim-play' 'anim-paused'}}"
         id="tickerTwo" style={{{settings.tickerDelay}}}>
        {{#each item in tickerTwoItems}}
            {{#if item.des}}
                <div class="layout-col ticker-item left btn-txt-color pad-s-tb mgn-l-r" style={{{settings.itemWidthStyle}}}>
                    <div class="layout-container h-right full-width font-l ltr">
                        <span>{{item.des}}</span>
                        <span ><i class=" pad-s-lr {{item.iconClass}}"></i></span>
                        <span class="ltr {{item.chgCssClass}}">{{formatNumber item.ltp}}</span>
                    </div>
                    <div class="layout-container h-right full-width font-m ltr">
                        <span class="pad-s-r {{item.chgCssClass}}">{{formatNumber item.chg}}</span>
                        <span class="ltr {{item.pctChgCssClass}}">({{formatNumberPercentage item.pctChg}})</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <div class="ticker {{if isHorizontalTickerAnimation 'ticker-animation-horizontal' 'ticker-animation'}}  transform {{if isTickerRunning 'anim-play' 'anim-paused'}}"
         id="tickerOne" style={{{settings.tickerSpeed}}}>
        {{#each item in tickerOneItems}}
            {{#if item.des}}
                <div class="layout-col ticker-item left btn-txt-color pad-s-tb mgn-l-r ltr" style={{{settings.itemWidthStyle}}}>
                    <div class="layout-container h-right full-width font-l ltr">
                        <span> {{item.des}} </span>
                        <span><i class="pad-s-lr {{item.iconClass}}"></i></span>
                        <span class="ltr {{item.chgCssClass}}">{{formatNumber item.ltp}}</span>
                    </div>
                    <div class="layout-container h-right full-width font-m ltr">
                        <span class="pad-s-r {{item.chgCssClass}}">{{formatNumber item.chg}}</span>
                        <span class="ltr {{item.pctChgCssClass}}">({{formatNumberPercentage item.pctChg}})</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>