{{market-status-panel
    isShowSubMarketDropdown=true
}}
<div class="page-container">
    <div>{{ outlet "w1"}}</div>
    <div>{{ outlet "w2"}}</div>
    <div>{{ outlet "w3"}}</div>
    <div>{{ outlet "w4"}}</div>
    <div>{{ outlet "w5"}}</div>
</div>