{{#unless isOnlyPwdCheck}}
    <div class="h-left">
        <span class="bold display-block pad-xs-b"> {{app.lang.labels.userNameRules}} </span>
        {{#each unameRule in userNameRulesCollection}}
            {{#if unameRule.isEnabled}}
                <span class="display-block pad-xs-tb white-space-normal"> <i class={{unameRule.satisfiedIcon}}></i> {{unameRule.ruleName}} </span>
            {{/if}}
        {{/each}}
    </div>
{{/unless}}
<div class="mgn-l-t h-left">
    <span class="bold display-block pad-xs-tb"> {{app.lang.labels.passwordRules}} </span>
    {{#each pwdRule in passwordRulesCollection}}
        {{#if pwdRule.isEnabled}}
            <span class="display-block pad-xs-tb white-space-normal"> <i class={{pwdRule.satisfiedIcon}}></i> {{pwdRule.ruleName}} </span>
        {{/if}}
    {{/each}}
</div>