{{#if isPopupEnabled}}
    <div class="message-box-fog change-password-box">
        <div class="message-box-frame change-password-container {{popupCss}}">
            {{#unless isMobile}}
                <div class="message-box-title h-left">{{app.lang.labels.changeSessionTime}}</div>
            {{/unless}}
            <div class="pad-widget-left pad-widget-right change-password-container-height {{if isEnabledPwRules 'y-scroll' ''}}">
                <div class="layout-container full-width">
                    <div class="{{if isMobile '' 'layout-col-11'}}">
                        <div class="layout-container full-width pad-m-tb pad-l-lr">
                            <div class="layout-col-12 font-m h-left {{crntPwdLblCss}}">{{app.lang.labels.currentSession}} <span class="down-fore-color">*</span></div>
                            <div class="font-m h-left">{{currentSessionTime}}</div>
                        </div>
                        <div class="layout-container full-width pad-m-b pad-l-lr">
                            <div class="layout-col-12 font-m h-left {{newPwdLblCss}}">{{app.lang.labels.setSession}} <span class="down-fore-color">*</span></div>
                            <div class="layout-container full-width">
                                <div class="layout-col-3">{{input value=newSession type="number" min=2 max=120 class="form-control search-query mgn-m-r"}}</div>
                                <div class="layout-col-6 font-m h-left pad-s-l">{{app.lang.labels.minutes}}</div>
                            </div>
                        </div>
                        <div class="layout-container full-width pad-m-b pad-l-lr">
                            <div class="layout-col-12 font-m h-left {{cfmPwdLblCss}}">{{app.lang.labels.minMax}} <span class="down-fore-color">*</span></div>
                            <div class="font-m h-left">{{minMaxRangeLabel}}</div>
                        </div>
                    </div>
                </div>

                {{#if isMobile}}
                    <div class="layout-container pad-m-tb pad-l-lr">
                        <div class="layout-col h-left white-space-normal font-m down-fore-color">{{message}}</div>
                    </div>
                    <div class="layout-container pad-m-tb pad-l-lr full-width h-right">
                        <div class="layout-col pad-l-l h-right">
                            <div class="layout-inline">
                                <button type="submit" autofocus class="btn btn-dropdown btn-txt-color confirm-btn btn-animation pad-l-lr btn-small bold font-l" {{action 'onSave'}}>{{app.lang.labels.save}}</button>
                            </div>

                            {{#if isCancelEnabled}}
                                <div class="layout-inline pad-s-l">
                                    <button class="btn btn-dropdown btn-txt-color btn-animation confirm-btn pad-l-lr btn-small bold font-l" {{action 'onCancel'}}>{{app.lang.labels.cancel}}</button>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    <div class="layout-container full-width">
                        <div class="layout-container h-left full-width pad-l-lr font-m down-fore-color pad-m-tb">{{{message}}}</div>
                        <div class="layout-container full-width pad-m-b pad-l-lr h-right">
                            <div class="layout-col">
                                <div class="layout-inline">
                                    <button type="submit" autofocus class="btn btn-dropdown btn-default btn-animation pad-l-lr" {{action 'onSave'}}>{{app.lang.labels.save}}</button>
                                </div>

                                {{#if isCancelEnabled}}
                                    <div class="layout-inline pad-s-l">
                                        <button class="btn btn-dropdown btn-default btn-animation pad-m-lr" {{action 'onCancel'}}>{{app.lang.labels.cancel}}</button>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}