<div class="layout-container full-width full-height">
    <div {{bind-attr class=":layout-col-24 :panel-table :ellipsis view.styles view.styleBackground" }} {{bind-attr title="view.formattedFirstValue" }} {{bind-attr cell-id="view.columnId" }}>
                <span {{bind-attr class=":font-xxx-l view.styleFirstValue" }}>
                    {{view.formattedFirstValue}}
                    <br>
    </span>
    </div>
</div>


