<div {{bind-attr class=":panel-table :border-bottom view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div>
        <div {{bind-attr class="view.isMobile:font-l view.isTablet:font-m :ltr :bold view.styleFirstValue" }}>
            {{view.formattedFirstValue}}
        </div>
        <div {{bind-attr class=":font-m :ltr :bold :pad-xs-t view.styleSecondValue" }}>
            {{view.formattedSecondValue}}
        </div>
    </div>
</div>