<div class="panel-table"  cell-id="{{view.columnId}}">
    <div {{bind-attr class=":font-xxx-l :bold view.styleFirstValue"}}>
        {{view.formattedFirstValue}}
    </div>
    <div {{bind-attr class=":font-xx-l :pad-m-t view.styleSecondValue"}}>
        {{view.formattedSecondValue}}
    </div>
</div>
