<div {{bind-attr class=":panel-table view.styleBackground view.styles"}} cell-id="{{view.columnId}}">
       <div>
            <div{{bind-attr class=":font-l :bold view.styleFirstValue" }}>
                {{view.formattedFirstValue}}
            </div>
             <div class="highlight-fore-color bold pad-xs-t">
                 {{view.formattedSecondValue}}
             </div>
       </div>
</div>