<div {{bind-attr class=":full-width :cell-container view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div {{bind-attr class=":pad-m-t :fore-color :font-x-l :bold view.styleFirstValue" }}>
        {{view.formattedFirstValue}}
    </div>

    <div {{bind-attr class=":pad-m-t :fore-color :font-x-l :bold view.styleSecondValue" }}>
        {{view.formattedSecondValue}}
    </div>

    <div {{bind-attr class=":pad-m-tb :fore-color :font-x-l :bold view.styleThirdValue" }}>
        {{view.formattedThirdValue}}
    </div>
</div>
