<div {{bind-attr class=":cell-container :full-width :full-height :pad-m-lr :ellipsis :pad-s-t :border-bottom :text-align-left view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div {{bind-attr class=":h-left :font-s :pad-s-t view.styleFirstValue" }}>
        <span class="layout-inline fore-color bold font-s alert-criteria-cell-width ellipsis">
            {{view.firstValue}}
        </span>
        <span class="layout-inline icon-fore-color bold font-s pad-s-lr">
            {{view.thirdValue}}
        </span>
        <span class="layout-inline fore-color bold font-s alert-criteria-cell-width ellipsis ltr">
            {{view.secondValue}}
        </span>
    </div>

    <div {{bind-attr class=":pad-s-t :font-s :icon-fore-color :h-left :ellipsis :font-s view.styleThirdValue" }}>
        <span class="bold font-s">(
        </span>
        <span class="bold font-s">
            {{view.fourthValue}}
        </span>
        <span class="bold font-s">)
        </span>
    </div>
</div>